version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 5
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: /
    versioning-strategy: widen
    schedule:
      interval: weekly
    groups:
      dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

  - package-ecosystem: npm
    directory: /test/fixtures/audit
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    ignore:
      - dependency-name: "*"
